---
title: {{ band.name }}
day: {{ band.day }}
date: {{ dateFormat band.date format='YYYY-MM-DD HH:mm' }}
image: {{ band.image }}
venue: {{ band.location }}
---

<h1>{{ band.name }}</h1>
{{ band.description }}
