---
title       : {{band.name}}
date: {{ dateFormat band.date format='YYYY-MM-DD HH:mm' }}
dayNo       : {{band.dayNo}}
location    : {{band.location}}
description : Lorem ipsum

media       : {{band.media}}
gigsNavTemplate:
  gigsNav:
  {{#each band.gigsNav}}
  - location: {{location}}
    nav:
    {{#each links}}
    -
      linkText: {{time}} - {{name}}
      linkHref: {{link}}
    {{/each}}
  {{/each}}
daysNav     : daysNav

---
<div class="span3">
  <ul class="nav nav-tabs nav-stacked">
    {{#each band.daysNav}}
      <li><a href="{{linkHref}}.html">{{linkText}}</a></li>
    {{/each}}
  </ul>
</div>
<div class="span9">
  <h3>Day {{ band.dayNo }} - {{ dateFormat band.date format="Do MMMM YYYY" }}</h3>
  <div class="row-fluid">
    <div class="span3">
      {{{band.gigsNavTmpl}}}
    </div>
    <div class="span9">
      <h1>{{ band.name }}</h1>
      <iframe
        width="560"
        height="315"
        src="{{band.media}}"
        frameborder="0"
        allowfullscreen>
      </iframe>
      <p>{{ band.description }}</p>
    </div>
  </div>
</div>
